<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit</title>
    <link rel="stylesheet" href="/assets/bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-5.2.0-dist/css/all.min.css">
    <style>
        .mb-4 {
            background-color: rgb(58, 116, 224);
            color: white;
            height: 100px;
            padding: 20px;
            margin-left: 0;
            margin-right: 0;
        }

        .row>div>a {
            margin-top: 10px;
            margin-bottom: 10px;

        }

        .button-head {
            text-align: end;
        }

        .row-body {
            margin-top: 20px;
        }

        .row-body>div>div {
            margin-bottom: 20px;
            font-weight: bold;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="table-title mb-4">
        <div class="row">
            <div class="col-sm-8">
                <h2>Deposit money into customer's account</h2>
            </div>
            <div class="col-sm-4" style="text-align: end;">
                <a href="/customers" class="btn btn-outline-light"><i class="fa fa-list" aria-hidden="true"></i>
                    <span>Customer list</span></a>

            </div>
        </div>
        <form id="frmDeposit" method="post" th:object="${customer}">
            <fieldset class="row g-3" style="margin-top: 15px; color: black">
                <div class="mb-3 col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Customer ID</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" readonly="" th:field="*{id}">
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Full Name</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" readonly="" th:field="*{fullName}">
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Current balance ($)</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control num-space" readonly="" th:field="*{balance}">
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Transaction Amount ($)</label>
                        <div class="col-sm-12" th:object="${deposit}">
                            <input type="text" class="form-control" th:field="*{transactionAmount}" placeholder="Enter the amount to send">
                        </div>
                    </div>
                </div>

                <div class="mb-3 col-md-12">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-outline-success">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Deposit
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="alert" style="position: fixed; bottom: 0">
        <th:block th:if="${message}">
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span th:text="${message}"></span>
            </div>
        </th:block>
        <th:block th:if="${errors}">
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert">&times;</button>
                <span th:text="${errors}"></span>
            </div>
        </th:block>
    </div>

</div>
<script src="/assets/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>