<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer</title>
    <link rel="stylesheet" href="/assets/bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-5.2.0-dist/css/all.min.css">
    <style>
        .row-head {
            background-color: rgb(58, 116, 224);
            color: white;
            height: 100px;
            padding: 20px;
            margin-left: 0;
            margin-right: 0;
        }

        .row>div>a {
            margin-top: 10px;
            margin-bottom: 10px;

        }

        .button-head {
            text-align: end;
        }

        .row-body {
            margin-top: 20px;
        }

        .row-body>div>div {
            margin-bottom: 20px;
            font-weight: bold;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row row-head">
        <div class="col-8">
            <h2>Transfer</h2>
        </div>
        <div class="col-4 button-head">
            <a href="/customers" type="button" class="btn btn-outline-light "><i class="fa-solid fa-bars"></i>
                List of customers</a>
        </div>
    </div>
    <form id="frmTransfer" method="post" novalidate="novalidate" th:object="${sender}" style="margin-top: 15px">
        <fieldset class="row g-3">
            <div class="form-group row">
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Sender ID</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" readonly="" th:field="*{id}">
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Sender Name</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control valid" readonly="" th:field="*{fullName}">
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Email</label>
                    <div class="col-sm-12">
                        <input type="email" class="form-control" readonly="" th:field="*{email}">
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Sender balance</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control num-space" readonly="" th:field="*{balance}">
                    </div>
                </div>
            </div>
            <div class="form-group row mb-4" th:object="${transfer}">
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Recipient ID</label>
                    <div class="col-sm-12">
                        <select th:field="*{recipient}" class="form-select">
                            <th:block th:each="recipient : ${recipients}">
                                <option th:value="${recipient.id}" th:text="${'(' + recipient.id + ') ' + '- ' + recipient.fullName}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Transfer Amount ($)</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" th:field="*{transferAmount}">
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Fees (%)</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" value="10" readonly="">
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Total amount of transaction ($)</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control num-space" readonly="" th:field="*{transactionAmount}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-3 col-md-12">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="fa fa-exchange" aria-hidden="true"></i>
                            Transfer
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="alert" style="position: fixed; bottom: 0">
    <th:block th:if="${message}">
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span th:text="${message}"></span>
        </div>
    </th:block>
    <th:block th:if="${error}">
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert">&times;</button>
            <span th:text="${error}"></span>
        </div>
    </th:block>
</div>

</body>
<script src="/assets/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
</html>