<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw</title>
    <link rel="stylesheet" href="/assets/bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-5.2.0-dist/css/all.min.css">
    <style>
        .row-head {
            background-color: rgb(58, 116, 224);
            color: white;
            height: 100px;
            padding: 20px;
            margin-left: 0;
            margin-right: 0;
        }

        .row>div>a {
            margin-top: 10px;
            margin-bottom: 10px;

        }

        .button-head {
            text-align: end;
        }

        .row-body {
            margin-top: 20px;
        }

        .row-body>div>div {
            margin-bottom: 20px;
            font-weight: bold;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row row-head">
        <div class="col-8">
            <h2>Withdraw money from the customer's account</h2>
        </div>
        <div class="col-4 button-head">
            <a href="/customers" type="button" class="btn btn-outline-light "><i class="fa-solid fa-bars"></i>
                List of customers</a>
        </div>
    </div>

    <form id="frmWithdraw" method="post" novalidate="novalidate" th:object="${customer}">
        <fieldset class="row g-3">
            <div class="mb-3 col-md-6">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Customer ID</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" readonly="" th:field="*{id}">
                    </div>
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Full Name</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" readonly="" th:field="*{fullName}">
                    </div>
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Current balance ($)</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control num-space" readonly="" th:field="*{balance}">
                    </div>
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Transaction Amount ($)</label>
                    <div class="col-sm-12" th:object="${withdraw}">
                        <input type="text" class="form-control" th:field="*{transactionAmount}" placeholder="Enter the amount to withdraw">
                    </div>
                </div>
            </div>

            <div class="mb-3 col-md-12">
                <div class="form-group row">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-outline-warning">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                            Withdraw
                        </button>
                    </div>
                </div>

            </div>
        </fieldset>
    </form>
</div>

<div class="alert" style="position: fixed; bottom: 0">
    <th:block th:if="${message}">
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span th:text="${message}"></span>
        </div>
    </th:block>
    <th:block th:if="${error}">
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span th:text="${error}"></span>
        </div>
    </th:block>
</div>
<script src="/assets/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>