<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalCreateCustomer">

    <div class="modal fade" id="modalCreateCustomer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-4">
                        <h5 class="modal-title">Thêm khách hàng mới</h5>
                    </div>
                    <div id="loader" class="col-md-7" style="z-index: -1">
                        <div class="container">
                            <div class="spinner-grow text-light"></div>
                            <div class="spinner-grow text-muted"></div>
                            <div class="spinner-grow text-primary"></div>
                            <div class="spinner-grow text-success"></div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-warning"></div>
                            <div class="spinner-grow text-danger"></div>
                            <div class="spinner-grow text-secondary"></div>
                            <div class="spinner-grow text-dark"></div>
                        </div>
                    </div>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">


                    <form id="frmCreateCustomer">
                        <div class="frm-alert-danger hide" style="color:red"></div>
                        <div class="row">
                            <div class="col-lg-8 fl">
                                <div class="row col-lg-12 mt-3">
                                    <div class="col-lg-4 mt-3">
                                        <label for="fullNameCre">Họ và tên</label>
                                        <input type="text" class="form-control" id="fullNameCre" name="fullNameCre">
                                    </div>
                                    <div class="col-lg-4 mt-3">
                                        <label for="emailCre">Email</label>
                                        <input type="email" class="form-control" id="emailCre" name="emailCre">
                                    </div>
                                    <div class="col-lg-4 mt-3">
                                        <label for="phoneCre">Số điện thoại</label>
                                        <input type="tel" class="form-control" id="phoneCre" name="phoneCre">
                                    </div>
                                </div>
                                <div class="row col-lg-12 mt-3">
                                    <div class="col-lg-4">
                                        <label>Tỉnh/Thành phố</label>
                                        <select class="form-select" id="provinceIdCre" name="provinceIdCre">
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Quận/Huyện</label>
                                        <select class="form-select" id="districtIdCre" name="districtIdCre">
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Phường/Xã</label>
                                        <select class="form-select" id="wardIdCre" name="warIdCre">
                                        </select>
                                    </div>
                                    <div class="col-lg-12 mt-3">
                                        <label>Địa chỉ/Số nhà</label>
                                        <input type="text" class="form-control" id="addressCre" name="addressCre">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 fl">
                                <section>
                                    <div class="wrapper1">
                                        <div class="image-preview1">
                                            <canvas id="canvasCre"></canvas>
                                        </div>
                                        <div class="content1" style="opacity: 1;">
                                            <div class="icon">
                                                <i class="fas fa-cloud-upload-alt"></i>
                                            </div>
                                            <div class="text">
                                                Vui lòng chọn hình đại diện
                                            </div>
                                            <div class="text">
                                                Dung lượng tối đa = 2MB
                                            </div>
                                        </div>
                                        <div class="file-name">
                                            Sửa ảnh
                                        </div>
                                    </div>
                                    <input type="file" id="imageFileCre" accept="image/jpeg, image/png" hidden="">
                                </section>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-outline-primary" id="btnCreate">
                        <i class="fa-solid fa-square-plus"></i>
                        Thêm
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>