*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    max-width: 600 px;
    margin: 5px auto;
}
.row{
    width: 100%;
    margin-bottom: 2px;
    /* margin: 10px 10px; */
  
}
.add-item, .show-item {
    background-color: #97bfc5;
    padding: 10px 10px;
    border-radius:5px ;

}
.form-group{
    display: flex;
    margin-bottom: 2px;
}
.form-group>label{
    width: 120px;
}
.form-control{
    flex: 1;
    padding: 3px 0px;
   
}
.btn{
    border: none;
    outline: none;
    border: 1px solid #333;
    padding: 5px 20px;
    border-radius:4px ;
    cursor:pointer;

}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
} 
.table{
    width: 100%;
    cursor: pointer;
   
}  
.table-hovered>tbody>tr:hover{
    background-color: #212529;
}
.table, tr, td, th{
    border-collapse: collapse;
    padding: 3px;
    border: 0.5px dashed #333;
}
.table>thead{
    background-color: #333;
   
}
table>thead>tr>th{
    padding: 5px 0px;
    color: #fff;
}
.text-right{
    text-align: right;
}
.form-control-md{
    flex: 1;
    padding: 3px 0px;
    width: 170px;
    padding: 5px 0px
   
}
.d-none{
    display: none;
}
