<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Error 404</title>
  <link rel="stylesheet" href="/assets/css/error.css">
</head>
<body>
<div class="link-container" style="width: 90%">
  <a href="/home" class="more-link" style="float: left; background: rgba(0,0,0,0); color: white">◄◄ Trang chủ</a>
  <h1 style="text-align: center; color: rgba(7,6,6,0.87);font-size: 80px">Error</h1>
</div>

<p class="zoom-area" style="color: #ffffff"><b>Bạn không có quyền truy cập</b>.</p>
<p class="zoom-area"></p>
<section class="error-container">
  <span>4</span>
  <span><span class="screen-reader-text">0</span></span>
  <span>4</span>
</section>

</body>
<script>
</script>
</html>