*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    width: 1040px;
    margin: auto;
    background-image: url(nenweb.ipg.jpg);
}
#banner{
    height: 75px;
    background-color:rgba(32, 30, 30, 0.699);;
    line-height: 75px;
    color: white;
    display: flex;

}
#add-product{
    margin: 0px;
    padding: 0px;

}
#btn-add-product{
    border-radius: 50%;
    background-color: rgba(32, 30, 30, 0.699);
    outline: none;
    border: none;
}
#btn-add-product:hover{
    background-color: rgba(255, 255, 255, 0.418) ;
}
#inweb{
    width: 50%;
    height: 73px;
    text-align: center;



}
#inweb img{
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
}

#icon{
    width: 35%;
    line-height: 88px;

}
#icon i{
    margin-left: 55px;
    color: white;   
}
.Login{
    width: 15%;
    text-align: center;
}
.Login a{
    color: white;
    text-decoration: none;  
    padding: 0px 10px;  
}
.Login a:hover{
    color: orange;
}

#menuleft{
    text-align: center;
    line-height: 45px;
 

}
#menuleft ul{
    list-style-type: none;
}   
#menuleft ul li{
    float: left;
    width: 150px;
    list-style: none;
    text-align: center;
    position: relative;
    color: white;
    height: 45px;

}
#menuleft ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}

#menu li:hover #submenu{
    display: block;
    color: orange;
} 
#search{
    padding: 7px;
 
}
#searchinput{
    width: 325px;
    border-radius: 15px;
    height: 25px;
    padding-left: 7px;
    font-size: 16px; 
    outline: none;
    background-color: white;
}
#searchinput:hover{
    background-color: rgba(255, 255, 255, 0.822);
}
#check{
    width: 80px;
    height: 27px;
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 15px;
    background-color: white;
}
#check:hover{
    background-color: rgba(255, 255, 255, 0.637);
}
.boxslider{
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}
#SortPrice{
    width: 200px;
    height: 50px;
    color: white;
    float: left;
    text-align: center;
    margin-top: 19%;
    margin-left: 50px;
    line-height: 50px;
    font-size: 20px;
    background-color: rgba(54, 50, 50, 0.158);
    border-radius: 15px;

    
}
#SortPrice span:hover{
    cursor: pointer;
    color: orange;
}


#slide{
    width: 70%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 10px 10px 10px rgba(54, 50, 50, 0.322);
    float: left;
    
}

.form-add-products{
    width: 60%;
    color: rgba(247, 245, 241, 0.685);
    padding-top: 30px;
    margin: auto;
    text-align: center;
}
.form-add-products h2{
    color: rgba(66, 175, 248, 0.747);
}
.form-add-products input{
    border: none;
    outline: none;
    border-bottom: 1px dashed white;
    background-color: transparent;
    color: rgba(255, 166, 0, 0.788);
    float: right;
    width: 70%;
}
.btn-update-products{
    text-align: center;
}
.btn-update-products button{
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin: 15px 15px;
    color: white;
    background-color: rgba(66, 175, 248, 0.637);
}
.btn-update-products button:hover{
    background-color: rgb(2, 47, 77);
}
.form-edit-products{
    width: 60%;
    color: rgba(247, 245, 241, 0.685);
    padding: 30px;
    margin: auto;
    font-size: 20px;
    text-align: center;
}
.form-edit-products h2{
    color: rgba(96, 248, 66, 0.637) ;
}
.form-edit-products input{
    border: none;
    outline: none;
    border-bottom: 1px dashed white;
    background-color: transparent;
    color: rgba(255, 166, 0, 0.788);
    float: right;
    width: 70%;
}
.btn-edit-products{
    text-align: center;
}
.btn-edit-products button{
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin: 15px 15px;
    color: white;
    background-color: rgba(96, 248, 66, 0.637);
}
.btn-edit-products button:hover{
    background-color: rgb(23, 139, 0) ;
}
.add-none{
    display: none;
}
.edit-none{
    display: none;
}
#content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4%;
    box-sizing: border-box;
}
.products{
    list-style: none;
    
    max-height: 500px;

}
.product-top{
    display: block;
    position: relative;
    overflow: hidden;
}
#img{
    width: 250px;
    height: 450px;
}
.product-top .acction{
    text-align: center;
    background-color:  rgba(39, 131, 184, 0.575);
    padding: 15px 0px;  
    position: absolute;
    width: 100%;
    bottom: -60px;
    transition: 0.2s ease-in-out;
    border-radius: 3px;
}
.products li:hover .acction{
    bottom: 0px;
}
.product-top .acction button{
    width: 70%;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 166, 0, 0.795); 

}
.product-top .acction button:hover{
    background-color: rgb(223, 186, 118);
}
.products li{
    flex-basis: 25%;
    width: 300px;
    height: 400px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    margin-left: 15px;
    box-sizing: border-box;
    margin-bottom: 40px;
    transition: transform .3s;
    background-color: rgba(54, 50, 50, 0.322);
    border-radius: 15px;
}
.products li:hover{
    transform: scale(1.1)
}
.products li img{
    display: block;
    max-width: 100%;
    height: auto;
    padding-top: 30px;

}
.product-info{
    padding: 20px 0;
}
.product-info a{
    display: block;
    text-decoration: none;
}
.product-name{
    color: orange;
    padding: 3px 0px;
    font-size: 20px;
    text-align: center;
}
.product-price{
    color: orange;
    padding: 3px 0px;
    font-size: 20px;
    font-weight:bold;
    text-align: center;
}
#bottom{
    padding: 15px 0;
    height: 150px;
    background-color: rgba(32, 30, 30, 0.699);
    text-align: center;
    color: white;
}
#bottom a{
    text-decoration: none;
    color: white;
}
.product-info .prd-dis{
    height: 60px;
    font-size: 12px;
    color: white;
}